
<body class="bg-[#10181e]" style="font-family: 'Space Grotesk', sans-serif;">
  <%- include('./components/wrapper') %>
  <div class="md:pl-64 flex flex-col flex-1 h-screen"> <%- include('./components/header') %>
    <main class="flex-1 pb-32">
      <div class="py-6">
        <% /* Skeleton loader, lasts about 0.3s to let the page content load */ %>
        <%- include('./components/skeleton') %>
        <div class="hidden max-w-screen-2xl pt-8 mx-auto px-4 sm:px-6 md:px-16" id="content">
          <div class="lg:flex lg:items-center lg:justify-between rounded-3xl mb-8">
            <div class="min-w-0 flex-1">
              <div class="flex">
                <div class="relative">
                  <h2 class="text-xl font-semibold text-white sm:truncate tracking-tight">Linkvertise</h2>
                  <p class="text-sm font-normal text-zinc-400">Earn coins by completing Linkvertise links.                  </p>
                </div>
              </div>
            </div>
          </div> 
          <% if (req.query.err) { %>
          <% if (req.query.err == "none") { %>
            <div class="rounded-2xl bg-[#162027]/30 shadow border-t border-white/5 p-8 mb-5">
              <div class="flex">
                <div class="ml-5">
                  <h3 class="text-md font-medium tracking-tight text-white">Link completed</h3>
                  <div class="mt-1 text-sm text-zinc-400">
                    <p>Linkvertise link has been completed, your <%= coins_lv %> will be added shortly.</p>
                  </div>
                </div>
              </div>
            </div>
            <% } else { %>
                <div class="rounded-2xl border border-white/5 p-4 mb-5">
                  <div class="flex">
                    <div>
                      <div class="pl-4 text-sm text-white">
                        <p>Error code: <code><%= req.query.err %></code></p>
                      </div>
                    </div>
                  </div>
                </div>
            <% } %>
            <% } %>      

          <div class="card mt-5">
            <div class="card-body">
              <div class="relative">
              <% /* Submit form */ %>
              <a href="../lv/generate" type="button" class="inline-flex  flex-1 items-center rounded-2xl border-none bg-[#0a9875] px-4 py-2.5 text-sm font-medium text-white ring-none focus:outline-none">
                Generate Link
              </a>
            </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./components/footer') %>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>