<nav class="bg-transparent border-b-2 border-dashed border-white/5 ml-16">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
          </div>
        </div>
        <div class="relative ml-3">
          <div class="hs-dropdown relative inline-flex" data-hs-dropdown-placement="bottom-right">
              <a href="/logout" id="hs-dropdown-with-header" type="button" class="px-3 py-1.5 border border-white/5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-xl text-white hover:bg-white/5 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1 inline-flex text-gray-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>                
                <span class="text-gray-400 inline-flex mr-2">Logout</span>
              </a>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <a href="../afk" type="button" class="px-3 py-2.5 border border-white/5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-xl text-white hover:bg-white/5 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1 inline-flex text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 0 0-2.25-2.25H15a3 3 0 1 1-6 0H5.25A2.25 2.25 0 0 0 3 12m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 9m18 0V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3" />
            </svg>     
            <span class="text-gray-400 font-medium"><%= coins %> Coins</span>       
          </a>
        
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div class="hs-dropdown relative inline-flex" data-hs-dropdown-placement="bottom-right">
                <a href="/profile?platform=account" id="hs-dropdown-with-header" type="button" class="px-3 py-1.5 border border-white/5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-xl text-white hover:bg-white/5 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-transparent">
                  <span class="text-gray-400 inline-flex mr-2"><%= user.global_name %></span>
                  <img class="inline-block size-7 rounded-full" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>?size=256" alt="Image Description">
                </a>
      
                <div class="hs-dropdown-menu transition-[opacity,margin] backdrop-blur hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 z-10 bg-white shadow-md rounded-lg p-2 dark:bg-[#121b21]/80 dark:border dark:border-transparent" aria-labelledby="hs-dropdown-with-header">
                  <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg bg-transparent">
                    <p class="text-sm text-gray-500 dark:text-gray-400">Signed in as</p>
                    <p class="text-sm font-medium text-gray-800 dark:text-gray-300"><%= user.email %></p>
                  </div>
                  <div class="mt-2 py-2 first:pt-0 last:pb-0">
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-[#0a9875] dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300" href="../profile?platform=account">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
                      </svg>
                      Profile
                    </a>
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-[#0a9875] dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300" href="../logout">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                      </svg>                      
                      Sign out
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </nav>